* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tamanho total da tela verticalmente */
}

.container {
    width: 100%;
    height: 100%; /* Garante que o contêiner ocupe toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Impede que a imagem saia do contêiner */
}

.container img {
    min-width: 100%;
    min-height: 100%;
    max-width: none; /* Evita que a imagem seja redimensionada além do necessário */
    -webkit-user-drag: none; /* Impede que a imagem seja arrastada no Safari */
}
